#lg-start,
#lg-log,
#lg-reg{
   background-color: #78CACB;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   letter-spacing: 2px;
   font-weight: bold;
   border-color: #419798;
   margin: auto;
   display:block;
   width:200px;

}


#test-right,
#test-left{
   width: 50%;
   position: absolute;
   bottom: 10px;
   left: 25%;
}



p{
   text-align: justify;
   padding: 5px;
   margin: 15px;
}


#about-img{
   padding: 5px;
   margin:15px;
}


#modal-or{
   margin:0 auto;
   display:block;
   background-color: aqua;

}


.modal-title{
   color:#666666;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#log-txt,
#reg-txt{
   text-align: center;
   margin-bottom: 10px;
   
}





#lg-start{
   width: 20%;
   padding: 15px;
   margin-top: 15px;
}


#lg-log:hover{
   background-color: #419798;
   border-color:#78CACB;
   font-style: oblique;

}


#lg-reg:hover{
   background-color: #419798;
   border-color:#78CACB;
   font-style: oblique;
}


#lg-start:hover{
   background-color: #419798;
   border-color:#78CACB;
   font-style: oblique;
}


.form-group{
   margin: -10px;
}




