*{
   box-sizing: border-box;
}

/* buttons */

#lg-start,
#lg-log,
#lg-reg,
#lg-submit{
   background-color: #3399CC;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   letter-spacing: 2px;
   font-weight: bold;
   border-color: rgb(15, 92, 131);
   margin: auto;
   display:block;
   width:200px;
}

.form-group {
   margin-bottom: 0px;
}

.nav-link{
   color:  #CDB99C;;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   letter-spacing: 2px;
   }

.nav-link:hover{
color:  #330000;
}


#navbarNav{
   margin-left: 100px;
}

#nav-login,
#nav-register{
   font-weight: bold;
   color: #CDB99C;

}

#navbarNav {
   margin-right: 100px
}

#nav-login:hover,
#nav-register:hover{
   color: #330000;
}



#logo{
   margin-left: 50px;
}

.navbar-brand{
   font-family: 'Amatic SC', cursive;
   color: #CDB99C;
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 30px;
}

.navbar-brand:hover{
   color: #330000ab;
}



#test-right,
#test-left{
   width: 50%;
   position: absolute;
   bottom: 10px;
   left: 25%;
}



p{
   text-align: justify;
   padding: 5px;
   margin: 15px;
   color: #330000;
}


#about-img{
   margin:15px 0 15px 0;
}


#modal-or{
   margin:0 auto;
   display:block;
   background-color: aqua;

}

.nav-link {
margin-right: 20px;
}

.modal-title{
   color:#666666;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#lg-start{
   width: 20%;
   padding: 15px;
   margin-top: 15px;
}


button#lg-start:hover, button#lg-log:hover, button#lg-reg:hover, button#lg-submit:hover{
   background-color:rgb(15, 92, 131);
   border-color: 1px solid #3399CC;
   font-style: oblique;

}


#contact-wrapper{
   margin-top:20px;
}



 /* this line of code is temporary*/
#coming-soon{
   height: 300px;
   width: 300px;
   margin: 40px 0 0 520px;

}
/*About page css starts here */
/* search div */
.search{
   position: relative;
   margin-left: 1%;
   width: 98%;
   height: auto;
   background-color: rgba(245, 241, 241, 0.514);
   margin-top: 1%;
   padding: 1%;
   border-radius: 3px;
}
.search:hover{
   background-color: #a8a1a163;
}
#input-search{
   margin-left: 10%;
   width: 50%;
   border: 1px solid  #CDB99C;
   padding: 5px;

}
#input-search:hover{
   border: 1px solid transparent;
}
#btn-search{
   padding: 5px;
}

/* chat and map container*/

.main-container{
   width: 100%;
}
.row{
   width: 96%;
   height: auto;
   margin-left: 1%;
   margin-top: 1px;
   color: #330000;

}
.col-sm-3:hover, .col-sm-8:hover{
   box-shadow: 0 0 2px 2px  #CDB99C;

}

/*chat div*/
.col-sm-3{
   position: relative;
   background-color: white;
   color: #330000ab;
   height: 400px;
   padding: 5px;
   margin-left: 1%;
   margin-top: 1%;
   border-radius: 5px;
   box-shadow: 0 0 2px 2px  rgba(128, 128, 128, 0.589);

}
/*header for chat list*/
.chat{
   text-align: center;
   padding:5px;
   width: 100%;
   height: auto;
   background: #6666663f;
   margin: 2% 1% 1% 1%;
   border-radius: 3px;
}
#chat-userName{
   padding:5px;
   width: 100%;
   height: auto;
   background: #6666663f;
   margin: 2% 1% 1% 1%;
   border-radius: 3px;
}
/*map div*/
.col-sm-8{
   position: relative;
   background-color: white;
   color: #330000ab;
   height: auto;
   padding: 0;
   margin: 1% 0 1% 2%;
   border-radius: 5px;
   box-shadow: 0 0 2px 2px  rgba(128, 128, 128, 0.589);

}

/*map setting goes here*/
#googleMap{
   width: 98%;
   height: 400px;
   margin: 1% 0 0 1%;
   border: 1px solid grey; /*temporary*/
   background-color: #c9c0c0a2; /*temporary*/
}
/*col-sm-8 sub-container */

/*div for places start here*/
/*This div seprate map and content*/
.search-result{
   width: 100%;
   height: auto;
   margin-top: 1%;
}
/*this div hold all results div together*/
.place-results{
   position: relative;
   width: 100%;
   height: auto;
   border: 1px  transparent;
   border-radius: 4px;
}

/*this div hold individual results with images*/
#display-img-content{
   position: relative;
   width: 100%;
   height: auto;
   padding: 10px;
   border: 1px  transparent;
   border-radius: 4px;
}

#sample-img{
   float: left;
   width: 150px;
   height: 150px;
   padding: 5px;

}

hr{
   border: 1px solid #CDB99C;
   width: 90%;
   float: center;
}


#reg-city{
   margin-left: -4.5px;
   margin-right: 0px;
   width: 85%;
}


#reg-state{
   height: 38px;
   margin-top: 15px; 
   background-color:#fff;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   width: 15%;
   margin-right:0;
   margin-left: 4.5px;
}


#displayName,
#city,
#reg-email,
#reg-password,
#login-password{
   margin-top: 15px;
}

#login-email{
   margin-top: 70px;
}

h6{
   text-align: center;
   font-style: italic;
   color: #3399CC;
}
